<div class="container">
    <div class="row align-items-center justify-content-center">
      <h4>Your have successfully signed in.</h4>
    </div>
    <div>
      <div><strong>user: </strong>{{userName}} </div>
      <div><strong>phone: </strong>{{phone}} </div>
      <div><strong>email: </strong>{{email}} </div>
      <div><strong>token: </strong>{{token}} </div>
      <div style="margin-bottom: 30px"></div>
      <button class="btn btn-danger" (click)="onLogoutClick()">Logout</button>
    </div>
</div>
